<app-header></app-header>
<main>
  <ul id="users">
    <!-- Using Conditional Statement -->
    @for (user of users; track user.id){
    <li>
      <app-user [user]="user" (select)="onSelectUser($event)" />
    </li>
    }

    <!-- <li> -->
    <!-- [id]="users[0].id"
      [avatar]="users[0].avatar"
      [name]="users[0].name" -->
    <!-- <app-user [user]="users[0]" (select)="onSelectUser($event)" /> -->
    <!-- </li> -->
    <!-- <li>
      <app-user [user]="users[1]" (select)="onSelectUser($event)" />
    </li> -->
    <!-- <li>
      <app-user [user]="users[2]" (select)="onSelectUser($event)" />
    </li> -->
    <!-- <li>
      <app-user [user]="users[3]" (select)="onSelectUser($event)" />
    </li> -->
  </ul>

  <!-- If we use name property as '?' then we can use a fallback machanism like [name]="selectedUser ? selectedUser.name : ''"-->

  @if(selectedUserName){
  <app-task [name]="selectedUserName.name" />
  }@else {
    <p id="fallback">Select a user to see their tasks!</p>
  }
</main>
